html,
body {
  padding: 0;
  margin: 0;
}

/*  Rpcs */
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.services .contents {
  display:contents;
}

.services .contents .service {
  display: block;
  border: solid 1px black;
  border-radius: 5px;

  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);

  min-height: 10em;
  width: 13em;
  margin: 2em;
  padding: 1em;

  position: relative;
  z-index: 1;
}

.service-name {
  font-weight: bold;
  text-align: center;
  overflow-wrap: break-word;
}

.service .ant-list-item {
  padding: 12px 0px;
}

.service .ant-list-header {
  padding-block: 0px;
}

.service .service_buttons {
  /*text-align: right;*/
  position: absolute;
  top: -20px;
  right: 10px;
}
